<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="../module/angular.js"></script>
    <script src="../module/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="../module/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <title>表单中的select控件</title>
    <style type="text/css">
        body{
            font-size: 12px;
        }
        div{
            margin: 8px 0px;
        }
    </style>
</head>
<body>
    <form name="temp_form" ng-controller="c2-15">
        <div>
            学制:
            <select ng-model="a" ng-options="v.id as v.name for v in a_data" ng-change="a_change(a)">
                <option value="">--请选择--</option>
            </select>
            <span>{{a_show}}</span>
        </div>
        <div>
            班级:
            <select ng-model="b" ng-options="v.id as v.name v.grade group by v.grade for v in b_data" ng-change="b_change(b)">
                <option value="">--请选择--</option>
            </select>
            <span>{{b_show}}</span>
        </div>
    </form>
    <script type="text/javascript">
        var app = angular.module('app',[]);
        app.controller('c2-15',['$scope',function($scope){
            $scope.a_data = [
                {id:'1001',name:'小学'},
                {id:'1002',name:'初中'},
                {id:'1003',name:'高中'},
            ];
            $scope.b_data = [
                {id:'1001',name:'(1)班',grade:'一年级'},
                {id:'1002',name:'(2)班',grade:'一年级'},
                {id:'2001',name:'(1)班',grade:'二年级'},
                {id:'2002',name:'(2)班',grade:'二年级'},
                {id:'3001',name:'(1)班',grade:'三年级'},
                {id:'3002',name:'(2)班',grade:'三年级'},
            ];
            $scope.a = "";
            $scope.b = "";
            $scope.a_change = function(a){
                $scope.a_show = "您选择的是:"+a;
            };
            $scope.b_change = function(b){
                $scope.b_show = "您选择的是:"+b;
            };
        }]);
    </script>
</body>
</html>