<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="../module/angular.js"></script>
    <script src="../module/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="../module/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <title>表单基本验证功能</title>
    <style type="text/css">
        body{
            font-size: 12px;
        }
        input{
            padding: 3px;
        }
    </style>
</head>
<body>
    <form name="temp_form" ng-submit="save()" ng-controller="c2-13">
        <div>
            <input type="text" name="t_name" ng-model="name" required/>
            <span ng-show="temp_form.t_name.$error.required">
                姓名不能为空
            </span>
        </div>
        <div>
            <input type="email" name="t_email" ng-model="email" required/>
            <span ng-show="temp_form.t_email.$error.required">
                邮件不能为空!
            </span>
            <span ng-show="temp_form.t_email.$error.email">
                邮件格式不对
            </span>
        </div>
        <input type="submit" ng-disabled="temp_form.$invalid" value="提交"/>
    </form>
    <script type="text/javascript">
        var app = angular.module('app',[]);
        app.controller('c2-13',['$scope',function($scope){
            $scope.name  = "张三";
            $scope.email = "123@qq.com";
            $scope.save = function(){
                console.log("提交成功");
            }
        }]);
    </script>
</body>
</html>