<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="../../module/angular.js"></script>
    <script src="../../module/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="../../module/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="example.7-4.css">
    <title>$cacheFactory服务创建缓存对象</title>
</head>
<body>
    <div class="frame" ng-controller="c7-4">
        <div class="show">
            <input type="text" ng-model="cname" size="6"/>
            <button ng-click="cset()">设置</button>
            <button ng-click="cshow()">显示</button>
            <button ng-click="cdel()">删除</button>
            <div class="tip">缓存值是:{{cvalue}}</div>
        </div>
    </div>
    <script type="text/javascript">
        angular.module('app',[])
            .service("cache",function($cacheFactory){
                return $cacheFactory("test");
            })
            .controller('c7-4',function($scope,cache){
                $scope.cset = function(){
                    cache.put("mytest",$scope.cname);
                };
                $scope.cshow = function(){
                    var tcache = cache.get("mytest");
                    $scope.cvalue = tcache ? tcache : "空值";
                };
                $scope.cdel = function(){
                    cache.remove("mytest");
                }
            });
    </script>
</body>
</html>