<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="../../module/angular.js"></script>
    <script src="../../module/jquery-1.12.1.min.js"></script>
    <script src="../../module/angular-resource.min.js"></script>
    <link rel="stylesheet" href="../../module/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="example.7-7.css">
    <title>$resource对象中方法的使用</title>
</head>
<body>
    <div class="frame" ng-controller="c7-7">
        <ul style="margin-bottom: 80px">
            <li ng-repeat="item in items">
                <span>{{item.Code}}</span>
                <span>{{item.Name}}</span>
                <span>{{item.Sex}}</span>
            </li>
        </ul>
        <div class="show">
            Key值:<input type="text" ng-model="key"/>
            <button ng-click="save()">保存</button>
            <div class="tip">{{result}}</div>
        </div>
    </div>
    <script type="text/javascript">
        angular.module('app',['ngResource'])
            .config(function($httpProvider){
                $httpProvider.defaults.transformRequest = function(obj){
                    var arrStr = [];
                    for(var p in obj){
                        arrStr.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return arrStr.join("&");
                }
                $httpProvider.defaults.headers.post = {
                    'Content-Type':'application/x-www-form-urlencoded'
                }
            })
            .controller('c7-7',function($scope,$resource){
                var stus = $resource('example.7-7.php')
                stus.query({action:'search'},function(resp){
                    $scope.items = resp;
                })
                $scope.save = function(){
                    var data = {
                        key: $scope.key
                    }
                    stus.save({action:'save'},data,function(resp){
                        $scope.result = (resp[0] == "1") ? "保存成功" : "保存失败!";
                    })
                }
            });
    </script>
</body>
</html>